<div class="container-fluid">
  <div class="card">
    <div class="row">


      <div class="col-sm">
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Visto ultima vez:</label>
              <input type="date" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationTooltip01">Nombre(s):</label>
              <input type="text" class="form-control" id="validationTooltip01" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Apellidos Paterno:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Apellido Materno:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Pais:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Estado:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Clave Entidad:</label>
              <select class="form-control" id="exampleFormControlSelect1">
               <option value="">1</option>
               <option value="">2</option>
               <option value="">3</option>
               <option value="">4</option>
               <option value="">5</option>
               <option value="">6</option>
               <option value="">7</option>
               <option value="">8</option>
               <option value="">9</option>
               <option value="">10</option>
               <option value="">11</option>
               <option value="">12</option>
               <option value="">13</option>
               <option value="">14</option>
               <option value="">15</option>
               <option value="">16</option>
               <option value="">17</option>
               <option value="">18</option>
               <option value="">19</option>
               <option value="">20</option>
               <option value="">21</option>
               <option value="">22</option>
               <option value="">23</option>
               <option value="">24</option>
               <option value="">25</option>
               <option value="">26</option>
               <option value="">27</option>
               <option value="">28</option>
               <option value="">29</option>
               <option value="">30</option>
               <option value="">31</option>
               <option value="">32</option>
              </select>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Municipio:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Origen:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Nacionalidad:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Sexo:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Fecha de nacimiento:</label>
              <input type="date" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Visto por ultima vez en:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="validationTooltip02">Autoridad de denuncia:</label>
              <input type="text" class="form-control" id="validationTooltip02" required>
              <div class="valid-tooltip">
                Bien!
              </div>
            </div>
          </div>






          <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
      </div>




      <div class="col-sm">

        <div class="map-container">
          <div class="map-frame">
            <div id="map" ></div>
          </div>
        </div>
        
      </div>



    </div>
  </div>
</div>