
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/registro-form">REGISTRO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista">LISTA</a>
        </li>
      </ul>
    </div>
  </nav>
  <table class="table table-striped" *ngIf="users">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Primer apellido</th>
        <th scope="col">segundo apellido</th>
        <th scope="col">pais</th>
        <th scope="col">estado</th>
        <th scope="col">claveEntidad</th>
        <th scope="col">municipio</th>
        <th scope="col">origen</th>
        <th scope="col">nacionalidad</th>
        <th scope="col">sexo</th>
        <th scope="col">fecha_nac</th>
        <th scope="col">visto_ultima</th>
        <th scope="col">autoridad</th>
        <th scope="col">coordenadaX</th>
        <th scope="col">coordenadaY</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of users">
      <th>{{ t.nombre }}</th>
      <th>{{ t.primape }}</th>
      <th>{{ t.segape }}</th>
      <th>{{ t.pais }}</th>
      <th>{{ t.estado }}</th>
      <th>{{ t.claveEntidad }}</th>
      <th>{{ t.municipio }}</th>
      <th>{{ t.origen }}</th>
      <th>{{ t.nacionalidad }}</th>
      <th>{{ t.sexo }}</th>
      <th>{{ t.fecha_nac }}</th>
      <th>{{ t.visto_ultima }}</th>
      <th>{{ t.autoridad }}</th>
      <th>{{ t.coordenadaX }}</th>
      <th>{{ t.coordenadaY }}</th>
    </tr>
    </tbody>
  </table>